<app-desplazamiento></app-desplazamiento>

<div id="agrupar">
  <div class="contenedor">
    <article>
      <section class="contenedor sobre-nosotros">
        <h3 id="ins">Inscripción</h3>
      </section>
    </article>
  </div>
</div>
<br>

<div id="forms" class="contenedor">

  <form action="/action_page.php" class="was-validated">
    <div class="mb-3 mt-3">
      <label for="uname" class="form-label">e-mail:</label>
      <input type="text" class="form-control" id="uname" placeholder="Enter e-mail" name="uname" required>
      <div class="valid-feedback">Valido</div>
      <div class="invalid-feedback">Llena este campo</div>
    </div>
    <div class="mb-3">
      <label for="pwd" class="form-label">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required>
      <div class="valid-feedback">Valido</div>
      <div class="invalid-feedback">Llena este campo</div>
    </div>
    <h3>Selecciona los eventos</h3>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
      <label class="form-check-label" for="check1">Option 1</label>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">
      <label class="form-check-label" for="check2">Option 2</label>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" disabled>
      <label class="form-check-label">Option 3</label>
    </div>

    <button type="submit" class="btn btn-primary">Aceptar</button>
  </form>

</div>