<app-desplazamiento></app-desplazamiento>
<div id="agrupar">
  <div class="contenedor">
    <article>
      <section class="contenedor sobre-nosotros">
        <h3>Evaluación del evento</h3>
      </section>
    </article>
  </div>
</div>
<br>
<div id="forms" class="contenedor">
  <h3>Elige el evento a evaluar</h3>
  <br>
  <div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
      Evento
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Evento 1</a></li>
      <li><a class="dropdown-item" href="#">Evento 2</a></li>
      <li><a class="dropdown-item" href="#">Evento 3</a></li>
    </ul>
  </div><br>
  <label for="comment">Comentario acerca del evento</label>
  <textarea class="form-control" rows="5" id="comment" name="text"></textarea><br>
  <button type="submit" class="btn btn-primary">Aceptar</button>
</div>