#agrupar {
    width: 1080px;
    text-align: left;
    margin-left: 250px;
}

.contenedor {
    padding: 10px;
    width: 90%;
    max-width: 1030px;
    margin: auto;
    background-color: turquoise;
}

.titulo {
    font-size: 30px;
    text-align: center;
}

.contenido-textos h3 {
    margin-bottom: 0px;
}

.contenido-textos h3 span {
    background: #6377bb;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p {
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}