<!--Informacion de la pagina-->
<body>
<app-desplazamiento></app-desplazamiento>
<div id="agrupar" class="row">
  <div class="contenedor">
    <article>
      <section class="contenedor sobre-nosotros">
        <h3>Informacion de la Expo</h3>
      </section>
    </article>
  </div>
</div>
<br>

<div id="agrupar" class="row">
  <div class="contenedor">
    <article>
      <section class="contenedor sobre-nosotros">

        <div class="contenedor-sobre-nosotros">
          <div class="contenido-textos">
            <h3><span>1</span>Convocatoria</h3>
            <p>
              Se invita a los alumnos y maestros de la UTNG, Campus Dolores Hidalgo
              y Victoria de los programas de TSU y Licenciaturas del área
              Económico-Administrativo a participar en la Quinta expo virtual 2021,
              “EMPRENDE TÚ FUTURO” y se un Águila en los Negocios, que se
              llevará a cabo los días 4, 5 y 6 de agosto del 2021.
            </p>
            <p>
              CATEGORÍAS DE PARTICIPACIÓN<br>
              • Carteles<br>
              • Prototipos<br>
              • Plan de Negocios
            </p>

          </div>
        </div>
      </section>
    </article>
  </div>
</div>
<div id="agrupar" class="row">
  <div class="contenedor">
    <article>
      <section class="contenedor sobre-nosotros">

        <div class="contenedor-sobre-nosotros">

          <div class="contenido-textos">
            <h3><span>1</span>Croquis</h3>
            <p>
              Aqui se encontrar el croquis.
            </p>
          </div>
        </div>
      </section>
    </article>
  </div>
</div>

<div id="agrupar" class="row">
  <div class="contenedor">
    <article>
      <section class="contenedor sobre-nosotros">

        <div class="contenedor-sobre-nosotros">
          <div class="contenido-textos">
            <h3><span>1</span>Eventos</h3>
            <p>
              Aqui se encontrar los eventos
            </p>
          </div>
        </div>
      </section>
    </article>
  </div>
</div> 

</body>
