    <div id="agrupar">
        <div class="contenedor">
          <article>
            <section class="contenedor sobre-nosotros">
              <h3 >Registrar Asistencia</h3>
            </section>
          </article>
        </div>
      </div>
      <br>
  
    <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
        <h4 id="registrarAsistencia"></h4>
      </div>

      <form action="/action_page.php">
        <div class="mb-3 mt-3">
          <label for="nombre" class="form-label">Nombre:</label>
          <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="nombre">
        </div>
        <div class="mb-3">
          <label for="gr" class="form-label">Grupo:</label>
          <input type="grupo" class="form-control" id="gr" placeholder="Grupo" name="grupo">
        </div>
       
        <button type="submit" class="btn btn-primary">Aceptar</button>
      </form><br><br><br><br><br>
