<header>
    <article id="barra">
      <img id="ix" src="assets/pics/Logotipo1.png">
    
     <h3>Asistente</h3><br>
    
      <div id="list-example" class="list-group">
        <a class="list-group-item list-group-item-action" href="/asistentes">Consulta info Expo</a>
        <a class="list-group-item list-group-item-action" href="/inscripcion">Inscripcion</a>
        <a class="list-group-item list-group-item-action" href="/asistente-asistencia">Registra tu Asistencia</a>
        <a class="list-group-item list-group-item-action" href="/asistente-evaluar">Evaluacion del evento</a>
      </div>
    </article>
</header>