<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
      <div class="sidebar-header">
          <h3>Asistente </h3>
      </div>

      <ul class="list-unstyled components">
          
          <li class="active">
              <a href="/asistentes" >Informacion de la Expo</a>
              
          </li>
          <li>
              <a href="/inscripcion">Inscribete</a>
              
              
          </li>
          <li>
              <a href="/asistencia">Registra tu asistencia</a>
          </li>
          <li>
              <a href="/evaluar">Evaluacion del evento</a>
          </li>
      </ul>

      
  </nav>

  <!-- Page Content Holder -->
  <div id="content">

      <nav class="navbar navbar-default">
          <div class="container-fluid">

              <div class="navbar-header">
                  <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                      <i class="glyphicon glyphicon-align-left"></i>
                      <span>Barra Lateral</span>
                  </button>
              </div>
</div>